[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ganeshjadhav
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ganeshjadhav
	label-Verified = -1..+1 group user/ganeshjadhav
	push = group user/ganeshjadhav
	read = group user/ganeshjadhav
	rebase = group user/ganeshjadhav
	removeReviewer = group user/ganeshjadhav
	submit = group user/ganeshjadhav
[access "refs/heads/*"]
	create = group user/ganeshjadhav
	push = +force group user/ganeshjadhav
	pushMerge = group user/ganeshjadhav
	read = group user/ganeshjadhav
[access "refs/tags/*"]
	push = group user/ganeshjadhav
	push = +force group user/ganeshjadhav
